@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: DM-Sans, sans-serif;
    color: orange;
}

/* heading and logo */

#header-background {
    height: 200px;
    width: 100%;
    background: url(../images/dog-playing.jpeg) no-repeat center center;
    background-size: cover;
    border: 5px solid orange;
}

h1,
h2 {
    font-family: Crimson-Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: orange;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* nav menu */

#menu {
    font-size: 170%;
    letter-spacing: 3px;
    float: right;
}

#menu,
#logo {
    line-height: 150px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* footer and social media links */

footer {
    height: 150px;
}

.social-media {
    text-align: center;

}

.social-media > li {
    display: inline;

}

.social-media i {
    font-size: 200%;
    color: orange;
    padding: 50px;
}
