@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: DM-Sans, sans-serif;
    background-color: #fff8f0;
    color: #f39237;
    
}

/* heading and logo */

#header {
    height: 100px;
    background-color: #8c92ac;
    /* background: url(../images/dog-playing.jpeg) no-repeat center 40%; */
    background-size: cover;
    border: 3px solid #f39237;
    width: 100%;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: Crimson-Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f39237;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* nav menu */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    float: right;
}

#menu,
#logo {
    line-height: 90px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* left side information box */

.left-information {
    width: 30%;
    height: 650px;
    background-color: #8c92ac;
    border-left: 3px solid #f39237;
    border-right: 3px solid #f39237;
    box-sizing: border-box;
    float: left;
}

.left-information aside {
    color: #fff8f0;
    font-size: 140%;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
}

.left-information h2 {
    font-size: 200%;
    padding: 10px;
}

/* dog boxes */

.dog-boxes {
    height: 650px;
}

.dog-boxes div {
    height: 295px;
    width: 33%;
    background-color: grey;
    display: inline-block;
    border: 3px solid #f39237;
    box-sizing: border-box;
}

.top-left-box {
    margin: 1% 0.5% 0.5% 1%;
    background-image: url(../images/belgian-alinois.jpeg);
    background-size: cover;
}

.top-right-box {
    margin: 1% 1% 0.5% 0.5%;
    background-image: url(../images/pug.jpeg);
    background-size: cover;
}

.bottom-left-box {
    margin: 0.5% 0.5% 1% 1%;
    background-image: url(../images/golden-retriever.jpeg);
    background-size: cover;
}

.bottom-right-box {
    margin: 0.5% 1% 1% 0.5%;
    background-image: url(../images/shih-tzu.jpeg);
    background-size: cover;
}

.top-left-box,
.top-right-box,
.bottom-left-box,
.bottom-right-box .dog-box-header {}






/* footer and social media links */

footer {
    height: 100px;
    border: 3px solid #f39237;
    box-sizing: border-box;
}

.social-media {
    text-align: center;

}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 200%;
    color: #f39237;
    padding: 50px;
}