@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: DM-Sans, sans-serif;
    background-color: #DDE6ED;

}

/* heading and logo */

#header {
    height: 100px;
    border: 3px solid #27374D;
    width: 100%;
    box-sizing: border-box;
    background-color: #9DB2BF;
}

h1,
h2 {
    font-family: Crimson-Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #27374D;
    text-align: center;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* nav menu */

#menu {
    font-size: 200%;
    letter-spacing: 3px;
    float: right;
}

#menu,
#logo {
    line-height: 90px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #27374D;
}

.active {
    border-bottom: 2px solid #27374D;
}


/* left side information box */

.left-information {
    width: 30%;
    height: 650px;
    box-sizing: border-box;
    float: left;
    color: #27374D;
}

.left-information h2 {
    font-size: 200%;
}

.left-information>p {
    font-size: 200%;
}

hr {
    margin-top: 20px;
}

/* dog boxes */

.dog-boxes {
    height: 650px;
}

.dog-boxes div {
    height: 295px;
    width: 33%;
    display: inline-block;
    border: 3px solid #27374D;
    box-sizing: border-box;
}

.dog-boxes h2 {
    padding-top: 20px;
    font-size: 210%;
    -webkit-text-stroke: 2px #27374D;
    color: #DDE6ED;
}

.top-left-box {
    margin: 1% 0.5% 0.5% 1%;
    background-image: url(../images/belgian-alinois.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.top-right-box {
    margin: 1% 1% 0.5% 0.5%;
    background-image: url(../images/pug.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.bottom-left-box {
    margin: 0.5% 0.5% 1% 1%;
    background-image: url(../images/golden-retriever.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.bottom-right-box {
    margin: 0.5% 1% 1% 0.5%;
    background-image: url(../images/shih-tzu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}


/* footer and social media links */

footer {
    height: 100px;
}

.social-media {
    text-align: center;

}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 300%;
    color: #27374D;
    padding: 50px;
}